@import url('https://fonts.googleapis.com/css?family=Playpen Sans');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
  }
  
  header {
    padding: 100px 20px;
    text-align: center;
  }
  
  h1 {
    font-family: "Playpen Sans";
    color: #5489c8;
    font-size: 3em;
  }
  
  section.achievements {
    padding: 50px 20px;
    background-color: #deebfc;
  }